body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    background-color: rgb(20, 20, 20);
    color: white;
}
.container {
    width: 100%;
    height: 200%;
    background-color: whitesmoke;
    overflow: hidden;
}

.grid {
    display: grid;
    margin-left: .5px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
    justify-content: center;
}

.err {
    background-color: antiquewhite;
    color: black;
    font-size: 18px;
}

header nav {
    display: flex;
    background-color: rgb(17, 17, 17);
    justify-content: center;
    gap: 150px;
}

.brand {
    color: red;
}

#margintop {
    padding-top: 20px;
}

input { border-radius: 10px;
        height: 25px;
        border: none;
        padding: 0 10px;
}

.btn-nav {
    margin: 0 10px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
}

